<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="/asset">Assets</a></li>
  <li class="breadcrumb-item active">Add Assets</li>
</ol>
<form (ngSubmit)="onSubmit()" #thisForm="ngForm">
  <div
    class="form-group"
  >
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      autofocus
      name="form.name"
      required
      [(ngModel)]="form.name"
    >
  </div>
  <button
    type="submit"
    class="btn btn-success"
    [disabled]="!thisForm.form.valid"
  >
    Add
  </button>

</form>
