<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Assets</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row" *ngFor="let asset of (assetState$ | async).assets">
        <div class="col">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="addAssetTest(asset.id)"
          >
            New Test {{ asset.name }}
          </button>
          <div class="row" *ngFor="let asset_test of (assetState$ | async).asset_tests">
            <div class="col">
              <a routerLink="/test/{{ asset_test.id }}">Test on {{ asset_test.created_at }}</a>
              Ansered: {{ asset_test.answered_count }} / {{ (this.categoryState$ | async).category_capabilities.length }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <a class="btn btn-outline-primary btn-rounded" ripple-radius routerLink="/asset/add">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        Add Asset
      </a>
    </div>
  </div>
</div>
