<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Assets</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col">
      <form
        (ngSubmit)="onSubmitAddAssetTest()"
        #settingsForm="ngForm"
        *ngIf="(assetState$ | async).assets.length > 0"
      >
        <div class="form-group">
          <label for="user_code" class="">
            Assets
          </label>
          <select
            class="form-control"
            id="user_code"
            name="form.user_code"
            [(ngModel)]="form.asset_id"
          >
            <option
              *ngFor="let asset of (assetState$ | async).assets;let itemIndex = index"
              [value]="asset.id"
              [attr.selected]="itemIndex == 0"
            >
              {{ asset.name }}
            </option>
          </select>
        </div>

        <button
          *ngIf="!building_type_id"
          class="btn btn-success"
          [disabled]="!settingsForm.form.valid"
        >
          Start New Test
        </button>
      </form>
      <div class="row" *ngFor="let asset of (assetState$ | async).assets">
        <div class="col">
          <div class="row" *ngFor="let asset_test of (assetState$ | async).asset_tests">
            <div class="col">
              <a routerLink="/test/{{ asset_test.id }}">Test on {{ asset_test.created_at }}</a>
              Ansered: {{ asset_test.answered_count }} / {{ (this.categoryState$ | async).category_capabilities.length }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <a class="btn btn-outline-primary btn-rounded" ripple-radius routerLink="/asset/add">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        Add Asset
      </a>
    </div>
  </div>
</div>
