@import 'variables';
@import 'bootstrap';
@import 'font-awesome';
@import 'mdb';
@import 'ng2-file-input';

body {
  padding-top: 5rem;
}

.btn.btn-rounded {
  border-radius: 30px;
}

.asset-home-block {
  color: $warning-color;
  cursor: pointer;

  &:hover {
    color: $warning-color-dark;
  }
}

.nav.nav-pills .nav-item .nav-link.active {
  background-color: $primary-color;
  color: $nav-pills-link-active-color;
}

.table.table-hover.category-set-table {
  tr {
    &:hover:not(.table-info) {
      td {
        background-color: bisque;
        cursor: pointer;
      }
    }
  }
}

.table-row-active {
  @extend .table-success;
  border: 2px solid black;
}

.polar-graph {
  display: block;
  margin: auto;
  max-width: 700px;
  min-height: 400px;
}
